{% extends "navbar_admin.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid" style="height: 82vh; display: flex; align-items: center; justify-content: center;">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-7">
              <div class="new_card p-3 py-4">
                    <div class="text-center mt-4"> 
                        <div class="labels">
                            <span>Username: {{ username }}</span>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{%  endblock %}