{% extends "navbar.html" %}
{% load static %}
{% block content %}

  {% if role == 'admin' %}
    <div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 5%;">
      <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div text-center>
                    {% for message in messages %}
                      <div class="container-fluid p-0">
                       <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                          {{ message }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                <div class="new_card p-3 py-4">
                  <div class="d-flex justify-content-center mb-3">
                    <h4 class="text-center">Profile Admin</h4>
                  </div>
                      <div class="text-center"> 
                          <div class="labels">
                              <span>Username: {{ username }}</span>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}

  {% if role == 'pemain' %}
  <div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 5%;">
    <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="col-md-3">
              <div text-center>
                    {% for message in messages %}
                      <div class="container-fluid p-0">
                       <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                          {{ message }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
              <div class="new_card p-3 py-4">
                <div class="d-flex justify-content-center mb-3">
                  <h4 class="text-center">Profile Pemain</h4>
                </div>
                    <div class="text-center"> 
                        <div class="labels">
                            <span>Username: {{ username }}</span>
                        </div>
                        <div class="labels">
                          <span>Email: {{ email }}</span>
                        </div>
                        <div class="labels">
                          <span>No HP: {{ no_hp }}</span>
                        </div>
                        <div class="labels">
                          <span>Koin: {{ koin }}</span>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  
{% endblock %}