{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Makanan</h2>
    </div>
</div>
<div class="container-fluid" style="padding-bottom: 9%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
                <table class="content-table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Harga</th>
                <th scope="col">Tingkat Energi</th>
                <th scope="col">Tingkat Kelaparan</th>
                {% if request.session.role == 'admin' %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
    
            {% for x in makanan %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.nama}}</td>
                <td>{{x.harga}} </td>
                <td>{{x.tingkat_energi}} </td>
                <td>{{x.tingkat_kelaparan}} </td>
                {% if request.session.role == 'admin' %}
                <td>
                    <div class="text-center buttons">
                        <form method="get" action="/makanan/update_makanan/{{ x.nama }}">
                            <button class="btn px-4" href="/makanan/update_makanan/{{ x.nama }}">Update</button>
                        </form>
                    </div>
                    {% if x.deletable == True %}
                    <div class="text-center deactivate">
                        <form method="POST" action="{% url 'makanan:delete_makanan' %}">
                            {% csrf_token %}
                            <input name="nama_makanan" value="{{x.nama}}" hidden>
                            <button class="btn px-4" type="submit" value="Delete">Delete</button>
                        </form>     
                    </div>  
                    {% endif %}
                {% endif %}
                </td>
            </tr>
    
            {% endfor %}
    
        </tbody>
    </table>  
{% endblock %}