{% extends "navbar.html" %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%endif%}
<div class="container-fluid" style="padding-bottom: 3%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="new_card p-3 py-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h4 class="text-center">Update Makanan</h4>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" name="nama_makanan" class="form-control" id="nama_makanan" value="{{data.0}}" disabled required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-md-6">
                                    <input type="number" name="harga" class="form-control" id="harga" placeholder="Harga" value="{{data.1}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-md-6">
                                    <input type="number" name="tingkat_energi" class="form-control" id="tingkat_energi" placeholder="Tingkat Energi" value="{{data.2}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-md-6">
                                    <input type="number" name="tingkat_kelaparan" class="form-control" id="tingkat_kelaparan" placeholder="Tingkat Kelaparan" value="{{data.3}}">
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center buttons">
                            <button class="btn px-4" type="submit" value="Simpan">Simpan</button>
                        </div>
                    </form>
                    <div class="mt-4 text-center deactivate">
                        <form method="get" action="{% url 'makanan:read_makanan_admin' %}">
                            <button class="btn px-4" href="{% url 'makanan:read_makanan_admin' %}">Batal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}