{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Makan</h2>
    </div>
</div>
<div class="container-fluid" style="padding-bottom: 18%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
                <table class="content-table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        {% if request.session.role == 'admin' %}
                        <th scope="col">Username pengguna</th>
                        {% endif %}
                        <th scope="col">Tokoh</th>
                        <th scope="col">Nama Makanan</th>
                        <th scope="col">Waktu</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for x in makanan %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        {% if request.session.role == 'admin' %}
                        <td>{{x.username_pengguna}}</td>
                        {% endif %}
                        <td>{{x.nama_tokoh}} </td>
                        <td>{{x.nama_makanan}} </td>
                        <td>{{x.waktu}} </td>
                    </tr>
            
                    {% endfor %}
            
                </tbody>
            </table>  
        </div>
    </div>
</div>
{% endblock %}