{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 3%;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="new_card p-3 py-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h4 class="text-center">Buat Menggunakan Barang</h4>
                    </div>
                  <div text-center>
                    {% for message in messages %}
                      <div class="container-fluid p-0">
                       <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                          {{ message }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <form action="{% url 'create_menggunakan_barang' %}"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="row mt-3 d-flex justify-content-center">
                          <div class="col-md-6">
                            <select id="nama_tokoh" name="nama_tokoh" class="form-control">
                              <option value="">--Pilih Nama Tokoh--</option>
                              {% for t in tokoh %}
                              <option value="{{t | first}}">{{t | first}}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row mt-3 d-flex justify-content-center">
                          <div class="col-md-6">
                            <select id="barang" name="barang" class="form-control">
                              <option value="">-- Pilih Barang--</option>
                            </select><br>
                          </div>
                      </div>
                    </div>
                    <div class="mt-5 text-center buttons">
                      <button class="btn px-4" type="submit" value="Pakai">Pakai</button>
                  </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $("#nama_tokoh").change(function(){
    var nama_tokoh = $(this).val();
    $.ajax({
      url: "{% url 'get_barang' %}",
      type: 'post',
      data: {'nama_tokoh':nama_tokoh},
      dataType: 'json',
      success:function(data){
        data = data["barang"];
        $("#barang").empty();
        $("#barang").append("<option value=''>-- Pilih Barang --</option>");
        for(var i=0; i<data.length; i++){
          $("#barang").append("<option value='"+data[i][0]+"'>"+data[i][0]+"</option>");
        }
      }
    });
  });
</script>
{% endblock %}