{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="padding-bottom: 3%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="new_card p-3 py-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h4 class="text-center">Buat Tokoh</h4>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "success" %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% else %}
                                <div class="alert alert-warning" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-md-7">
                                    <input type="type" name="nama_tokoh" class="form-control" id="nama_tokoh" placeholder="Nama Tokoh" required>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="row mt-3 d-flex justify-content-center">
                                <div class="col-md-7">
                                    <select class="form-control" name="jenis_kelamin" id="jenis_kelamin" required>
                                        <option value="">--Pilih Jenis Kelamin--</option>
                                        <option value="Laki-laki">Laki-laki</option>
                                        <option value="Perempuan">Perempuan</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <div class="row mt-3 d-flex justify-content-center">
                                <div class="col-md-7">
                                    <select class="form-control" name="warna_kulit" id="warna_kulit"required>
                                        <option value="" selected>--Pilih Warna Kulit--</option>
                                        {% for warna_kulit_1 in list_warna_kulit %}
                                            <option value="{{ warna_kulit_1.0 }}">{{ warna_kulit_1.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row mt-3 d-flex justify-content-center">
                                <div class="col-md-7">
                                    <select class="form-control" name="pekerjaan" id="pekerjaan">
                                        <option value="" selected>--Pilih Pekerjaan--</option>
                                        {% for nama_pekerjaan in list_pekerjaan %}
                                            <option value="{{ nama_pekerjaan.0 }}">{{  nama_pekerjaan.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center buttons">
                            <button class="btn px-4" type="submit" value="Simpan">Simpan</button>
                        </div>
                    </form>
                    <div class="mt-4 text-center deactivate">
                        <form method="get" action="{% url 'home' %}">
                            <button class="btn px-4" href="{% url 'home' %}">Batal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}