{% extends "navbar.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 5%;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="new_card p-3 py-4">
                        <div class="d-flex justify-content-center mb-3">
                            <h4 class="text-center">Detail Tokoh</h4>
                        </div>
                            <div class="text-center"> 
                                {% for st in detailtokoh %}
                                <div class="labels">
                                    <span>Nama: {{ st.nama }}</span>
                                </div>
                                <div class="labels">
                                    <span>ID Mata: {{ st.id_mata }}</span>
                                </div>
                                <div class="labels">
                                    <span>ID Rambut: {{ st.id_rambut }}</span>
                                </div>
                                <div class="labels">
                                    <span>ID Rumah: {{ st.id_rumah }}</span>
                                </div>
                                <div class="labels">
                                    <span>Warna Kulit: {{ st.warna_kulit }}</span>
                                </div>
                                <div class="labels">
                                    <span>Pekerjaan: {{ st.pekerjaan }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}