{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Tokoh</h2>
    </div>
</div>
<div class="container-fluid" style="padding-bottom: 8%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
        <table class="content-table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Username pemain</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Status</th>
                    <th scope="col">XP</th>
                    <th scope="col">Energi</th>
                    <th scope="col">Kelaparan</th>
                    <th scope="col">Hubungan Sosial</th>
                    <th scope="col">Level</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
        
                {% for st in semuatokoh %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{st.username_pengguna}}</td>
                    <td>{{st.nama}} </td>
                    <td>{{st.jenis_kelamin}} </td>
                    <td>{{st.status}} </td>
                    <td>{{st.xp}} </td>
                    <td>{{st.energi}} </td>
                    <td>{{st.kelaparan}} </td>
                    <td>{{st.hubungan_sosial}} </td>
                    <td>{{st.level}} </td>
                    <td>
                        <div class="text-center buttons">
                            <form method="POST" action="{% url 'tokoh:detail_tokoh' %}">
                                {% csrf_token %}
                                <input name="tokoh" value="{{st.nama}}" hidden>
                                <input name="username_pemain" value="{{st.username_pengguna}}" hidden>
                                <button class="btn px-4" type="submit" value="Detail">Detail</button>
                            </form>
                        </div>
                    </td>
                </tr>
        
                {% endfor %}
        
            </tbody>
        </table>  
        </div>
    </div>
</div>
{% endblock %}