<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Misi Utama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container-md" style="margin-top: 15px;">
  <form action="#"  method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="nama_tokoh">Nama Tokoh:</label>
      <select class="form-control" name="nama_tokoh" id="nama_tokoh" required>
          <option value="" selected>--Pilih Tokoh--</option>
          {% for t in tokoh %}
              <option value="{{ t.0 }}">{{ t.0 }}</option>
          {% endfor %}
      </select>
  </div>
      <div class="form-group">
        <label for="nama_misiutama"><b>Nama Misi Utama: </b></label>
        <select id="nama_misiutama" name="nama_misiutama" class="form-control">
          <option value="">-- Pilih --</option>
          {% for m in misi %}
              <option value="{{ m.nama_misi }}">{{ m.nama_misi }}</option>
          {% endfor %}
        </select><br>
      <div>
    <button type="submit" class="btn btn-primary">SIMPAN</button>
  </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>