{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Pekerjaan</h2>
    </div>
</div>
<div class="container-fluid" style="padding-bottom: 18%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
                <table class="content-table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Pekerjaan</th>
                <th scope="col">Base Salary</th>
                {% if role == 'admin' %}
                <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for i in pekerjaan %}
              <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                {% if role == 'admin' %}
                  <td>
                    <div class="text-center buttons">
                      <form method="get" action="/update/pekerjaan/{{ i.1 }}">
                          <button class="btn px-4" href="/update/pekerjaan/{{ i.1 }}">Update</button>
                      </form>
                  </div>
                  {% if i.3 == True %}
                  <div class="text-center deactivate">
                    <form method="POST" action="/delete/pekerjaan/{{ i.1 }}">
                        <button class="btn px-4" type="submit" value="Delete">Delete</button>
                    </form>     
                </div></td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}