{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 3%;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="new_card p-3 py-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h4 class="text-center">Update Pekerjaan</h4>
                    </div>
                  <div text-center>
                    {% for message in messages %}
                      <div class="container-fluid p-0">
                       <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          {{ message }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="container-fluid p-0" id="al2">
                       
                  </div>
                  <form action=""  method="post" id="form">
                    {% csrf_token %}
                      <div  class="form-group">
                        <label for="nama_pekerjaan"><b>Nama Pekerjaan:</b></label><br>
                          <input class="form-control" type="text"  name="nama_pekerjaan" id="nama_pekerjaan" value="{{data.0}}" disabled required>
                      </div><br>

                      <div  class="form-group">
                        <label for="base_hoonor"><b>Base Honor:</b></label><br>
                        <input type="number" class="form-control"  name="base_honor" id="base_honor" value="{{data.1}}" required>
                      </div><br>

                      <div class="mt-5 text-center buttons">
                      <button class="btn px-4" id="submit-btn" type="submit" value="Pakai">Simpan</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $("#submit-btn").click(function(e){
    if($("#nama_pekerjaan").val() == "" || $("#base_honor").val() == ""){
      $("#al2").html('<div class="alert error alert-dismissible" role="alert">Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu</div>');
    }
  });
</script>
{% endblock %}