{% extends "navbar.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 5%;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="new_card p-3 py-4">
                        <div class="d-flex justify-content-center mb-3">
                            <h4 class="text-center">Detail Misi Utama</h4>
                        </div>
                            <div class="text-center"> 
                                {% for misi in detailmisi %}
                                <div class="labels">
                                    <span>Nama: {{ misi.nama }}</span>
                                </div>
                                <div class="labels">
                                    <span>Efek Energi: {{ misi.efek_energi }}</span>
                                </div>
                                <div class="labels">
                                    <span>Efek Hubungan Sosial: {{ misi.efek_hubungan_sosial }}</span>
                                </div>
                                <div class="labels">
                                    <span>Efek Kelaparan: {{ misi.efek_kelaparan }}</span>
                                </div>
                                <div class="labels">
                                    <span>Syarat Energi: {{ misi.syarat_energi }}</span>
                                </div>
                                <div class="labels">
                                    <span>Syarat Hubungan Sosial: {{ misi.syarat_hubungan_sosial }}</span>
                                </div>
                                <div class="labels">
                                    <span>Syarat Kelaparan: {{ misi.syarat_kelaparan }}</span>
                                </div>
                                <div class="labels">
                                    <span>Completion Time: {{ misi.completion_time }}</span>
                                </div>
                                <div class="labels">
                                    <span>Reward Koin: {{ misi.reward_koin }}</span>
                                </div>
                                <div class="labels">
                                    <span>Reward XP: {{ misi.reward_xp }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}