{% extends "navbar.html" %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%endif%}
<div class="container-fluid" style="height: 76vh; display: flex; align-items: center; justify-content: center; padding-bottom: 3%;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="new_card p-3 py-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h4 class="text-center">Buat Menggunakan Apparel</h4>
                    </div>
                  <form action="#"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="row mt-3 d-flex justify-content-center">
                          <div class="col-md-6">
                            <select id="nama_tokoh" name="nama_tokoh" class="form-control">
                              <option value="">--Pilih Nama Tokoh--</option>
                              {% for t in tokoh %}
                              <option value="{{t | first}}">{{t | first}}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row mt-3 d-flex justify-content-center">
                          <div class="col-md-6">
                            <select id="apparel" name="apparel" class="form-control">
                              <option value="">--Pilih Apparel--</option>
                            </select><br>
                          </div>
                      </div>
                    </div>
                    <div class="mt-5 text-center buttons">
                      <button class="btn px-4" type="submit" value="Pakai">Pakai</button>
                  </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $("#nama_tokoh").change(function(){
    var nama_tokoh = $(this).val();
    $.ajax({
      url: "{% url 'menggunakan_apparel:get_apparel' %}",
      type: 'post',
      data: {'nama_tokoh':nama_tokoh},
      dataType: 'json',
      success:function(data){
        data = data["apparel"];
        $("#apparel").empty();
        $("#apparel").append("<option value=''>--Pilih Apparel--</option>");
        for(var i=0; i<data.length; i++){
          $("#apparel").append("<option value='"+data[i][0]+"'>"+data[i][0]+"</option>");
        }
      }
    });
  });
</script>
{% endblock %}