{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Menggunakan Apparel</h2>
    </div>
</div>
<div class="container-fluid" style="padding-bottom: 13%; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="row d-flex justify-content-center">
        <table class="content-table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Tokoh</th>
                <th scope="col">Nama Apparel</th>
                <th scope="col">Warna</th>
                <th scope="col">Nama Pekerjaan</th>
                <th scope="col">Kategori</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
    
            {% for sm in semuamenggunakan_apparelpemain %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{sm.nama_tokoh}} </td>
                <td>{{sm.nama}} </td>
                <td>{{sm.warna_apparel}} </td>
                <td>{{sm.nama_pekerjaan}} </td>
                <td>{{sm.kategori_apparel}} </td>
                <td>
                    <div class="text-center deactivate">
                    <form method="POST" action="{% url 'menggunakan_apparel:delete_menggunakan_apparel' %}">
                        {% csrf_token %}
                        <input name="id_apparel" value="{{sm.id_koleksi}}" hidden>
                        <input name="tokoh" value="{{sm.nama_tokoh}}" hidden>
                        <button class="btn px-4" type="submit" value="Lepas">Lepas</button>
                    </form>
                    </div>
                </td>
            </tr>
    
            {% endfor %}
    
        </tbody>
        </table>  
        </div>
    </div>
</div>
{% endblock %}